---
import config from "@/config/config.json";
import ImageMod from "./ImageMod.astro";

const { src, srcDarkmode }: { src?: string; srcDarkmode?: string } =
  Astro.props;

const {
  logo,
  logo_darkmode,
  logo_width,
  logo_height,
  logo_text,
  title,
} = config.site;

const { theme_switcher } = config.settings;
---

<a href="/" class="navbar-brand inline-flex items-center leading-none">
  {
    src || srcDarkmode || logo || logo_darkmode ? (
      <>
        <ImageMod
          src={src ? src : logo}
          class={`block object-contain align-middle ${theme_switcher && "dark:hidden"}`}
          width={Number(logo_width.replace("px", "")) * 2}
          height={Number(logo_height.replace("px", "")) * 2}
          alt={title}
          style={{
            height: logo_height.replace("px", "") + "px",
            width: logo_width.replace("px", "") + "px",
            objectFit: "contain",
            transform: "translateY(2px)",
          }}
          format="webp"
        />

        {theme_switcher && (
          <ImageMod
            src={srcDarkmode ? srcDarkmode : logo_darkmode}
            class="hidden object-contain align-middle dark:block"
            width={Number(logo_width.replace("px", "")) * 2}
            height={Number(logo_height.replace("px", "")) * 2}
            alt={title}
            style={{
              height: logo_height.replace("px", "") + "px",
              width: logo_width.replace("px", "") + "px",
              objectFit: "contain",
              transform: "translateY(2px)",
            }}
            format="webp"
          />
        )}
      </>
    ) : logo_text ? (
      logo_text
    ) : (
      title
    )
  }
</a>