---
interface Props {
  calificacion: number;
  totalEstrellas?: number;
}

const { calificacion, totalEstrellas = 5 } = Astro.props;
---

<div class="flex items-center gap-0.5">
  {
    Array.from({ length: totalEstrellas }).map((_, i) => (
      <span class={i < calificacion ? "text-yellow-500" : "text-gray-300"}>
        ★
      </span>
    ))
  }
</div>