---
import FeaturedProducts from "@/components/FeaturedProducts.astro";
import CollectionsSlider from "@/functional-components/CollectionsSlider";
import Base from "@/layouts/Base.astro";
import CallToAction from "@/partials/CallToAction.astro";
import HeroSlider from "src/layouts/functional-components/HeroSlider";

import { products } from "@/data/products";

const heroProducts = products.slice(0, 3);
const featuredProducts = products.slice(0, 4);

const collectionProducts = [
  {
    handle: "all",
    title: "Todos los Productos",
    image: {
      url: "/images/product-placeholder.jpg",
      altText: "All Products",
    },
  },
];
---

<Base>
  <section>
    <div class="container">
      <div class="bg-gradient py-10 rounded-md">
        <HeroSlider products={heroProducts} client:load />
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="text-center mb-6 md:mb-14">
        <h2>Colecciones</h2>
      </div>

      <CollectionsSlider client:load collections={collectionProducts} />
    </div>
  </section>

  <section>
    <div class="container">
      <div class="text-center mb-6 md:mb-14">
        <h2 class="mb-2">Productos Destacados</h2>
        <p class="md:h5">Explora las Mejores Selecciones del Día!</p>
      </div>

      <FeaturedProducts products={featuredProducts} />
    </div>
  </section>

  <CallToAction />
</Base>